body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
align-items:center;
}

.logo{
font-size:24px;
font-weight:bold;
}

.balance{
background:#1e293b;
padding:10px 20px;
border-radius:8px;
}

.hero{
text-align:center;
padding:40px;
background:linear-gradient(90deg,#0f172a,#1e293b);
}

.games{
padding:40px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.gameCard{
background:#1e293b;
padding:25px;
border-radius:12px;
text-align:center;
transition:.2s;
}

.gameCard:hover{
transform:scale(1.05);
}

input{
padding:8px;
margin-top:10px;
width:120px;
}

button{
margin-top:10px;
padding:10px 18px;
border:none;
background:#22c55e;
border-radius:6px;
color:white;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

#adminPanel{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#020617;
border:2px solid #334155;
padding:30px;
display:none;
z-index:100;
}

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:30px;
}